$body-bg-color: null;
$container-bg-color: null;
$alert-bd-color: null;

@import "mixin";

.BgBody {
    @include BgBody ($body-bg-color);
}

.BgContainer {
    @include BgContainer ($container-bg-color);    
}

.BdAlert {
    @include BdAlert ($alert-bd-color);
}
